.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

h1 {
  font-size: 3rem;
  padding-bottom: 20px;
}

body {
  background-color: #a77bca;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding-top: 50px;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

button {
  display: block;
  margin: 50px auto;
  background: none;
  border: none;
  cursor: pointer;

  padding: 100px;
  transform: scale(3);
}

#TacoBellButton .icon {
  width: 100px;
}

#BajaButton {
  position: absolute;
  top: 10px;
  right: 0px;
}

#BajaButton .icon {
  width: 50px;
}
